<app-navbar></app-navbar>
<div class="container">
        <div class="row">
            <div class="col-12">
                <form [formGroup]="form" (submit)="submit()">
                    <div class="card">
                        <div class="card-header">Add website pricelist</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-6">
                                    <label>Company name</label>
                                    <input class="form-control" formControlName="companyName" type="text">
                                    <span class="text-danger" *ngIf="form.controls['companyName'].touched && form.controls['companyName'].hasError('required')">
                                        Company name is required! </span>
                                </div>
                                <div class="form-group col-6">
                                    <label>Customer company name</label>
                                    <input class="form-control" formControlName="customerCompanyName" type="text">
                                    <span class="text-danger" *ngIf="form.controls['customerCompanyName'].touched && form.controls['customerCompanyName'].hasError('required')">
                                        Customer company name is required! </span>
                                </div>
    
                            </div>
                        </div>
                        <div class="card-header">Contact Information</div>
                        <div class="card-body" formArrayName="pricingRows">
                            <div class="row">
                                <div class="col-12" *ngFor="let contact of rowsFormGroup.controls; let i = index;">
                                    <div [formGroupName]="i" class="row">
    
                                        <div class="row">
                                            <div class="col-3">
                                                <label>Title</label>
                                                <input class="form-control" formControlName="title" type="text">
                                            
                                            </div>
                                            <div class="col-2">
                                                <label>Price</label>
                                                <input class="form-control" formControlName="price" type="number">
                                            </div>
                                            <div class="col-4">
                                                <label>Description</label>
                                                <input class="form-control" formControlName="description" type="text">
                                            </div>
                                            <div class="col-3">
                                                <label>Delete</label><br>
                                                <button class="btn btn-dark" type="button" (click)="removeContact(i)">
                                                        Delete </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="col-12">
                                <button class="btn btn-success m-1" type="button" (click)="addContact()"> Add Position
                                </button>
                                <button class="btn btn-success m-1" type="submit"> Save User Profile </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    
    <div mdbCollapse [isCollapsed]="false" #contractOfEmployment="bs-collapse">
            <div class="header text-center">
                    <h4>All website pricelists</h4>
                </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Company</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Date of creation</th>
                    <th scope="col">Total cost</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody *ngFor="let document of websitePriceDocuments">
                <tr>
                    <td>{{document.companyName}}</td>
                    <td>{{document.customerCompanyName}}</td>
                    <td>{{document.current | date}}</td>
                    <td>{{document.cost}}</td>
                    <td>
                        <button type="button" class="btn btn-success"
                            (click)="downloadPdfWithId(document.id)">Download</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-dark" (click)="delete(document.id)">Delete</button>
                    </td>
                </tr>
                <div class="row">
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <button class="btn">Show prices</button>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-panel-description>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Title</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let row of document.pricingRows">
                                            <td>{{row.title}}</td>
                                            <td>{{row.description}}</td>
                                            <td>{{row.price}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </mat-panel-description>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </tbody>
        </table>
    </div>
</div>
<app-footer></app-footer>
