<!-- Footer -->
<footer class="page-footer font-small teal darken-3">

        <!-- Footer Elements -->
        <div class="container">
    
          <!-- Grid row-->
          <div class="row">
    
            <!-- Grid column -->
            <div class="col-md-12 py-5">
              <div class="mb-5 flex-center">
    
                <!-- Facebook -->
                <a class="fb-ic" href="https://www.facebook.com/alina.shokota">
                  <mdb-icon fab icon="facebook" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                </a>
                <!-- Twitter -->
                <a class="tw-ic" href="https://twitter.com/?lang=pl">
                    <mdb-icon fab icon="twitter" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                </a>
                <!-- Google +-->
                <a class="gplus-ic" href="https://aboutme.google.com">
                    <mdb-icon fab fab icon="google-plus" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                </a>
                <!--Linkedin -->
                <a class="li-ic" href="https://www.linkedin.com/in/alina-shokota-b635b216b/">
                    <mdb-icon fab icon="linkedin" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                </a>
                <!--Instagram-->
                <a class="ins-ic" href="https://www.instagram.com/alinashokota">
                    <mdb-icon fab icon="instagram" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                </a>
                <!--Pinterest-->
                <a class="pin-ic" href="https://pl.pinterest.com/search/my_pins/?q=green%20leaf&rs=typed&term_meta[]=green%7Ctyped&term_meta[]=leaf%7Ctyped">
                    <mdb-icon fab icon="pinterest" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                </a>
              </div>
            </div>
            <!-- Grid column -->
    
          </div>
          <!-- Grid row-->
    
        </div>
        <!-- Footer Elements -->
    
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    
      </footer>
      <!-- Footer -->
