<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="view overlay">
                <a href="contract">
                    <img src="../../../assets/images/contract.png" class="img-fluid" alt="">
                    <div class="mask flex-center rgba-white-strong">
                        <p class="black-text">Contract creator</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="view overlay">
                <a href="website">
                    <img src="../../../assets/images/website.png" class="img-fluid" alt="">
                    <div class="mask flex-center rgba-white-strong">
                        <p class="black-text">Website pricelist creator</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="view overlay">
                <a href="">
                    <img src="../../../assets/images/passport.png" class="img-fluid" alt="">
                    <div class="mask flex-center rgba-white-strong">
                        <p class="black-text">Traveldesk report creator</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>